<form class="form-horizontal" [formGroup]="fg" (ngSubmit)="onSub()">
    <fieldset>
        <div class="control-group">
            <!-- Username -->
            <label class="control-label" for="username">Username</label>
            <div class="controls">
                <input type="text" formControlName="usNm" placeholder="User Name" class="input-xlarge">
                <p *ngIf="!fg.controls.usNm.valid" class="help-block">Username can contain any letters or numbers, without spaces</p>
            </div>
        </div>

        <div class="control-group">
            <!-- E-mail -->
            <label class="control-label" for="email">E-mail</label>
            <div class="controls">
                <input type="text" formControlName="eml" placeholder="" class="input-xlarge">
                <p *ngIf="fg.controls.eml.errors?.required" class="help-block">Please provide your E-mail</p>
                <p *ngIf="fg.controls.eml.errors?.email" class="help-block">Please provide VALID E-mail</p>
            </div>
        </div>

        <div class="control-group">
            <!-- Password-->
            <label class="control-label" for="password">Password</label>
            <div class="controls">
                <input type="password" formControlName="pass" placeholder="" class="input-xlarge" >
                <p *ngIf="!fg.controls.pass.valid" class="help-block">Password should be at least 4 characters</p>
            </div>
        </div>

        <div class="control-group">
            <!-- Password -->
            <label class="control-label" for="password_confirm" #confPass>Password (Confirm)</label>
            <div class="controls">
                <input type="password" name="password_confirm" placeholder=""
                    class="input-xlarge">
                <p *ngIf="fg.controls.pass.value === confPass.value "class="help-block">Please confirm password</p>
            </div>
        </div>

        <div class="control-group">
            <!-- Button -->
            <div class="controls">
                <button type="submit" class="btn btn-success">Register</button>
            </div>
        </div>
    </fieldset>
</form>